<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/main.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/eventsync.png') }}" type="image/png">
    <script>
        setTimeout(function() {
            window.location.href = "{{ url }}";
        }, 1000);
    </script>
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-info">
            Redirecting, please wait...
        </div>
    </div>
</body>
</html>
